<?xml version="1.0" encoding="utf-8"?><config>					
  
	<ipAddr>192.168.0.1</ipAddr>				

	<macStart>B8BA680F0000</macStart>					

	<macEnd>B8BA680FFFFF</macEnd>					

	<macInter>1</macInter>					

	<macCurrent>B8BA680F0005</macCurrent>					

	<snStart>B8BA680F0000</snStart>						

	<snEnd>B8BA680FFFFF</snEnd>						

	<snInter>1</snInter>						

	<snCurrent>B8BA680F0005</snCurrent>						

</config>